*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header, main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
header section{
    display: flex;
    align-items: center;
    margin-top: 20px;
    padding: 0.5rem 1rem;
    background-color: #fd7d14f3;
    border-radius: 20px;
    box-shadow: 0 0 15px rgb(102, 101, 101);
}
header section div{
    margin: 10px;
}
main section{
    width: 500px;
    height: fit-content;
    box-shadow: 0 0 15px #000;
}
main section #divTextMeme{
    text-align: center;
    padding: 1rem;
}
main section div #titleMeme{
    text-transform: uppercase;
}
.imgMeme{
    width: 100%;
    height: 100%;
}
.componentStyle{
    border: none;
    outline: none;
    padding: 0.5rem;
    border-radius: 5px;
    /* width: 200px; */
}